alabaster==0.7.12
alembic==1.4.3
appnope==0.1.0
argcomplete==1.10.0
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.2.0
autoenv==1.0.0
Babel==2.8.0
backcall==0.2.0
beautifulsoup4==4.8.0
bleach==3.2.1
bs4==0.0.1
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
choice==0.1
click==7.1.2
cluster==1.4.1.post3
colorama==0.3.9
colored==1.4.2
colored-logs==0.1
commonmark==0.9.1
cryptography==3.3.1
darts.util.lru==0.5
decorator==4.4.2
defusedxml==0.6.0
Deprecated==1.2.10
dnspython==2.1.0
docutils==0.16
docx2txt==0.8
EbookLib==0.17.1
email-validator==1.1.2
entrypoints==0.3
extract-msg==0.23.1
Flask==1.1.2
Flask-FontAwesome==0.1.5
Flask-Hashing==1.1
Flask-Login==0.5.0
Flask-Migrate==2.5.3
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
futures==3.1.1
gitdb==4.0.5
GitPython==3.1.12
graphviz==0.16
greenlet==0.4.17
guess-language==0.2
gunicorn==20.0.4
idna==2.9
imagesize==1.2.0
IMAPClient==2.1.0
img2pdf==0.3.4
importlib-metadata==2.0.0
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
langdetect==1.0.8
livereload==2.6.3
lxml==4.5.0
Mako==1.1.3
mariadb==1.0.2
MarkupSafe==1.1.1
mistune==0.8.4
msgpack==1.0.2
mysql==0.0.2
mysql-connector-python==8.0.21
mysql-connector-python-rf==2.2.2
mysqlclient==2.0.1
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
ndg-httpsclient==0.5.1
nest-asyncio==1.4.1
nltk==3.4.5
notebook==6.1.4
numpy==1.18.2
ocrmypdf==9.7.0
olefile==0.46
packaging==20.4
pandas==1.0.3
pandocfilters==1.4.2
parso==0.7.1
pdf2image==1.12.1
pdfminer==20191125
pdfminer.six==20181108
pexpect==4.8.0
phply==1.2.5
pickleshare==0.7.5
pikepdf==1.10.4
Pillow==7.1.1
ply==3.11
prometheus-client==0.8.0
prompt-toolkit==3.0.8
protobuf==3.13.0
ptyprocess==0.6.0
pyasn1==0.4.8
pybloomfiltermmap==0.3.15
pyClamd==0.4.0
pycparser==2.20
pycryptodome==3.9.7
pycurl==7.43.0.6
PyGithub==1.54.1
Pygments==2.7.1
PyJWT==1.7.1
pynvim==0.4.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyPDF2==1.26.0
pyrsistent==0.17.3
pytesseract==0.3.3
python-dateutil==2.8.1
python-dotenv==0.14.0
python-editor==1.0.4
python-ntlm==1.1.0
python-pptx==0.6.18
pytz==2019.3
pywsd==1.2.4
pyzmq==19.0.2
recommonmark==0.6.0
redis==3.5.3
reportlab==3.5.42
requests==2.23.0
rstcheck==3.3.1
scapy==2.4.4
Send2Trash==1.5.0
six==1.15.0
smmap==3.0.4
snowballstemmer==2.0.0
sortedcontainers==2.1.0
soupsieve==2.0
SpeechRecognition==3.8.1
Sphinx==3.2.1
sphinx-autobuild==2020.9.1
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.20
tblib==1.7.0
terminado==0.9.1
testpath==0.4.4
textblob==0.15.3
textract==1.6.3
theHarvester==0.0.1
tornado==6.0.4
tqdm==4.45.0
traitlets==5.0.5
tzlocal==1.5.1
urllib3==1.25.8
vulndb==0.1.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wn==0.0.23
wordnet==0.0.1b2
wrapt==1.12.1
WTForms==2.3.3
xlrd==1.2.0
XlsxWriter==1.2.8
zipp==3.3.1
