<!DOCTYPE html>
<html>

<head>
    {{ fontawesome_css() }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Hermann Bau Administration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome.min.css')}}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Features-Boxed.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Navigation-Clean.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>

<body>
    {% include 'navbar_admin.html' %}
    <div class="features-boxed" style="background: white;">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Administration</h2>
                <p class="text-center">Hier können Kunden, Baustellen und Mitarbeiter erfasst und bearbeitet werden. Zudem können die von den Mitarbeitern erstellten Rapporte eingesehen werden und zu Rechnungen zusammengestellt werden.</p>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fas fa-handshake icon" style="border-color: #404040;color: #404040;"></i>
                        <h3 class="name">Kunden</h3>
                        <p class="description">Kunden erfassen und bearbeiten.</p><a class="learn-more" href="{{ url_for(admin.kundenuebersicht) }}" style="color: #e0053f;">zur Kundenübersicht »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fas fa-cogs icon" style="color: #404040;"></i>
                        <h3 class="name">Baustellen</h3>
                        <p class="description">Baustellen erfassen, einem Kunden zuweisen und bearbeiten</p><a class="learn-more" href="#" style="color: #e0053f;">zur Baustellenübersicht »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-user icon" style="color: #404040;"></i>
                        <h3 class="name">Mitarbeiter</h3>
                        <p class="description">Mitarbeiter erfassen und bearbeiten</p><a class="learn-more" href="#" style="color: #e0053f;">zur Mitarbeiterübersicht »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fas fa-folder-open icon" style="color: #404040;"></i>
                        <h3 class="name">Rapporte</h3>
                        <p class="description">Rapporte der Mitarbeiter einsehen und zusammenfassen für die Rechnungsstellung</p><a class="learn-more" href="#" style="color: #e0053f;">zur Rapportübersicht »</a></div>
                </div>
            </div>
        </div>
    </div>
    {{ fontawesome_js() }}
    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>

</html>