<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Hermann Bau Rapport</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Contact-Form-Clean.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Navigation-Clean.css')}}">
</head>

<body>
    {% include 'navbar_rapport.html' %}
    <div class="rapport-div" >
        <div class="form-container" >
            <form class="d-flex flex-column" method="post" onSubmit="submitForm();" >
                {{ form.csrf_token() }}
                {{ form.hidden_tag() }}
                {% if msg %}
                <p class="msg">{{ msg }}</p>
                {% endif %}
                {{ form.csrf_token }}
                <h2 class="text-center"><strong>Rapport erfassen</strong></h2>
                <div class="form-group d-flex flex-row justify-content-end">
                    {{ form.kunde.label }}
                    {{ form.kunde (class="form-control") }}
                </div>
                <div class="form-group d-flex flex-row justify-content-end">
                    {{ form.baustelle.label}}
                    {{ form.baustelle  (class="form-control")}}
                </div>
                <div class="form-group d-flex flex-row justify-content-end">
                    {{ form.date.label }}
                    {{ form.date (class="form-control")}}
                <div class="form-group d-flex flex-row justify-content-end">
                    {{ form.hours.label }}
                    {{ form.hours (class="form-control")}}
                <div class="form-group d-flex flex-row justify-content-end">
                    {{ form.work.label }}
                    {{ form.work (class="form-control")}}
                <div class="form-group d-flex flex-row justify-content-end">
                    {{ form.polier.label (class="polier")}}
                <div id="signature-pad" class="signature-pad">
                        <div class="m-signature-pad--body">
                            <canvas></canvas>
                            <input type="hidden" name="signature" id="signature" value="">
                        </div>
                        <button type="button" class="clear" onclick="signaturePad.clear();">Löschen</button>
                </div>
                <div class="form-group d-flex justify-content-center">{{ form.submit(class="btn btn-primary btn-block") }} </div>
            </form>
            {% if error %}
                <p class="error" style="color: red">{{ error }}</p>
            {% endif %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/signature_pad.js')}}"></script>
    <script src="{{ url_for('static', filename='js/signature.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-1.11.1.min.js') }}"></script>
</body>

</html>